<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Mutia & Fahmi</title>
  <link href="css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lemonada:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lemonada:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <!-- LETTER -->
  <section id="letter-landing-bg" class="py-5 px-2 vh-100">
    <div id="letter-landing" class="container rounded-4 py-5 h-100 text-center text-white">
      <h1 class="title mb-4">THE WEDDING OF</h1>
      <h1 class="mempelai">Mutia & Fahmi</h1>
      <p class="my-5 py-5">Kepada:<br />Bayu Bagaskoro</p>
      <p class="nama-gelar mx-auto mb-3 pt-5 w-75 lh-lg">Mohon maaf apabila ada kesalahan penulisan Nama atau Gelar </p>
      <button class="btn btn-sm btn-light fw-semibold rounded-5">BUKA UNDANGAN</button>
    </div>
  </section>

  <!-- LETTER CONTENT -->
  <!-- HOME -->
  <section id="first-page-bg" class="py-5 px-2 vh-100">
    <div id="first-page" class="container rounded-4 pt-5 h-100 text-center text-white">
      <h1 class="title mb-2">THE WEDDING OF</h1>
      <h1 class="mempelai">Mutia & Fahmi</h1>
      <h2 class="date fs-6 pb-5">03 . 03 . 2024 | Makassar</h2>
      <h1 class="ayat fs-2 mb-3">Ar-Rum: 21</h1>
      <p class="ayat px-2"> “Dan diantara tanda-tanda kekuasaan-Nya ialah diciptakan Nya untukmu pasangan hidup dari
        jenismu
        sendiri supaya kamu mendapat ketenangan hati dan dijadikan-Nya kasih sayang diantara kamu. Sesungguhnya yang
        demikian menjadi tanda-tanda kebesaran-Nya bagi orang-orang yang berfikir.” </p>
    </div>
  </section>

  <!-- MEMPELAI -->
  <section class="mempelai-pria py-5 px-3">
    <div class="mempelai-div pb-4">
      <p class="mempelai mb-5 ms-2">Fahmi</p>
      <div class="card w-100 ps-4 pb-2 pt-4 rounded-4 opacity-75" style="width: 18rem">
        <div class="card-body">
          <h1 class="card-title">Fahmi Muh Faqi</h5>
            <p class="card-text lh-sm"><b>Putra Pasangan Dari :</b><br /> Bapak ... & <br /> Ibu ... </p>
            <a href="#" class="btn w-75 py-2 btn-dark">icon Instagram</a>
        </div>
      </div>
    </div>
  </section>
  <section class="mempelai-wanita py-5 px-3">
    <div class="mempelai-div pb-4">
      <p class="mempelai mb-5 ms-2">Mutia</p>
      <div class="card w-100 ps-4 pb-2 pt-4 rounded-4 opacity-75" style="width: 18rem">
        <div class="card-body">
          <h1 class="card-title">Mutiah Humaerah</h5>
            <p class="card-text lh-sm"><b>Putri Pasangan Dari :</b><br /> Bapak H. Mashuri, S.Sos. & <br /> Ibu Hj.
              Rusmini, S.Pd. </p>
            <a href="#" class="btn w-75 py-2 btn-dark">icon Instagram</a>
        </div>
      </div>
    </div>
  </section>
  <!-- SECOND PAGE -->

  <section id="second-page" class="py-5 px-3 h-100">
    <div class="second-page text-center text-white px-3">
      <p class="salam mb-4 py-2 fs-1">Assalamu'alaikum<br>Warahmatullahi Wabarakatuh</p>
      <p style="font-size:small;">Dengan segala kerendahan hati dan dengan ucapan syukur atas Rahmat Allah Subhanahu wa
        Ta'ala, kami bermaksud mengundang Bapak/Ibu/Saudara/i untuk hadir di acara pernikahan kami yang Insya Allah akan
        dilaksanakan pada: </p>
      <!-- timestamp (optional) -->
      <div
        class="invitation container border border-dark border-5 rounded-top-5 py-4 mt-4 bg-secondary-subtle text-center text-dark">
        <div>
          <h1 class="fw-semibold">AKAD NIKAH</h1>
          <p class="fw-semibold">AHAD, 03 MARET 2024<br>00.00 - 00.00 WITA</p>
        </div>
        <div>
          <h1 class="mt-4 fw-semibold">RESEPSI</h1>
          <p class=" fw-semibold">AHAD, 03 MARET 2024<br>00.00 - 00.00 WITA</p>
          <p class="fw-bold mt-4" style="font-size: 1em;">Hotel Harper Perintis<br><span class="fw-normal"
              style="font-size: small;">Jl. Perintis Kemerdekaan KM 15 No.14
              A, Kec. Biringkanaya, Kota Makassar</span></p>
        </div>
      </div>
  </section>

  <!-- RSVP -->
  <section id="rsvp-bg" class="py-5 px-2 vh-100">
    <div id="rsvp" class="container rounded-4 py-5 px-4 h-100 text-center text-white">
      <form method="POST" action="/rsvp">
        <h1 class="title fs-3 pt-4 mb-4">Konfirmasi Kehadiran</h1>
        <p class="mb-3" style="font-size: 0.8em;">Bantu kami mempersiapkan jamuan yang hangat untuk anda semua dengan
          mengirimkan konfirmasi kehadiran melalui
          form berikut ini :</p>
        <div class="mb-4 text-start">
          <label for="nama" class="form-label">Nama</label>
          <input type="name" class="form-control opacity-75" id="nama" name="nama">
        </div>
        <div class="mb-5 pb-5 text-start">
          <p>Apakah kamu akan hadir?</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="Hadir" name="statusHadir" id="hadir">
            <label class="form-check-label" for="hadir"> Ya, saya akan hadir </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="Tidak Hadir" name="statusHadir" id="tidakHadir">
            <label class="form-check-label" for="tidakHadir"> Maaf, saya tidak sempat hadir </label>
          </div>
        </div>
        <div class="mb-4 pt-4 text-start">
          <label for="jumlahTamu" class="form-label">Jumlah tamu bersama kamu?</label>
          <select class="form-select opacity-75" name="jumlahTamu" aria-label="Select jumlahTamu">
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">5</option>
            <option value="6">6</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success fw-bold w-100">Konfirmasi</button>
      </form>
    </div>
  </section>

  <!-- GALLERY -->
  <section id="gallery-page" class="bg-dark py-5 px-3">
    <div class="text-center text-white" style="font-size:small">
      <h1 class="gallery-title fs-3 mb-4">Our Gallery</h1>
      <p class="mb-4">"Love seems the swiftest but it is the slowest of all growths. No man or woman really
        knows what perfect love is until they have been married a quarter of a century."</p>
      <img src="./images/gallery1.jpg" class="img-fluid mb-5" alt="">
      <p>I love you without knowing how, or when, or from where. I love you directly, without problems or pride: I love
        you like this because i don't know any other way to love, except in this form in which i am not nor are you, so
        close that your hand upon my chest is mine, so close that your eyes close with my dreams.</p>
      <p> -- PANEL GAMBAR --</p>
    </div>
  </section>

  <!-- WISH -->
  <section id="wishes-bg" class="py-5 px-2">
    <div id="wishes" class="container rounded-4 py-5 px-4 text-center text-white">
      <form method="POST" action="/wishes">
        <h1 class="wish-title fs-1 mb-3">Best Wishes</h1>
        <p class="mb-4" style="font-size: 0.9em;">Berikan ucapan kepada kedua mempelai</p>
        <div class="mb-3 text-start">
          <label for="nama" class="form-label">Nama Lengkap</label>
          <input type="name" class="form-control opacity-75" id="nama" name="nama">
        </div>
        <div class="mb-3 text-start">
          <label for="wish" class="form-label">Tulis Ucapan</label>
          <textarea class="form-control opacity-75" id="wish" rows="3" name="wish"></textarea>
        </div>
        <button type="submit" class="btn btn-success w-100">Submit</button>
      </form>
      <div class="container mt-4 rounded-4 bg-dark text-start" style="font-size: small;">
        <% for(let wish of wishes) { %>
          <div class="card mb-3">
            <div class="card-body" style="font-size: small;">
              <p class="card-title">
                <%= wish.nama %>
              </p>
              <h6 class="card-subtitle mb-2 text-muted">
              </h6>


              <p class="card-text"><%= wish.wish %>
              </p>
            </div>
          </div>
          <% } %>
            <p class="mb-1">Bayu Bagaskoro <span> icon jam 5 Jam yang lalu</span></p>
            <p>Selasmeasfasf</p>
      </div>
    </div>
  </section>

  <!-- THANK YOU -->
  <section id="thank-you" class="py-5 px-3 vh-100">
    <div class="text-center text-white">
      <p class="mb-4">Thank you</p>
      <p style="font-size:small">"Love seems the swiftest but it is the slowest of all growths. No man or woman really
        knows what perfect love is until they have been married a quarter of a century."</p>

    </div>
  </section>


  <script src="js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>